<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container mt-5">
        <div class="card shadow-lg">
          <div class="card-header  text-white text-center" style="background-color: rgb(68 78 93);">
            <h4> Welcome to your Profile</h4>
          </div>
          <div class="card-body">
            
            <div class="row mb-4 ">
              <div class="col-md-3 ">
                <img src="assets/profile.jpg" class="rounded-circle" alt="User Photo" width="100" height="100">
                <span style="margin-left: 20px;"> <strong>  {{user?.firstName}} {{user?.lastName}}</strong> </span>
              </div>
            </div>
     
            <div class="row">
            
        
            <div class="row">
              <div class="col-md-6">
                <p><strong>Email:</strong> {{user?.email}}</p>
              </div>
              <div class="col-md-6">
                <p><strong>Phone:</strong>{{user?.phoneNumber}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><strong>Address:</strong> {{user?.address}}</p>
              </div>
            </div>
            <div class="row" *ngIf="isUser()">
                <div class="col-md-12">
                    <p><strong>Bank Account Status:</strong> 
                        {{ user?.bankAccountStatus === true ? 'Active' : (user?.bankAccountStatus === false ? 'Not Active' : 'No Bank Account') }}
                    </p>
                </div>
            </div>
         


          </div>
        </div>
      </div>
      
</div>
