/* You can add global styles to this file, and also import other style files */
body {
    height: 100%; /* Ensure full height for body */
    margin: 0; /* Remove default margin */
    background-color: black ; /* Force body background to black */
    color: white; /* Set text color to white for contrast */
    font-family: 'Your Font Family', sans-serif; /* Optional: Customize font family */
}

 