<div class="container-fluid p-4 flex-grow-1 d-flex justify-content-center">
  <div class="card shadow-lg w-70 w-md-50">
    <div class="card-body">
      <h3 class="text-black mb-4 text-center">Users</h3>

      <!-- Search Filter -->
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search users..."
          [(ngModel)]="searchQuery"
          (input)="filterUsers()"
        />
      </div>

      <!-- Table -->
      <div class="table-responsive"> <!-- Makes the table scrollable horizontally if necessary -->
        <table class="table table-hover table-bordered text-white" style="text-align: center;">
          <thead class="thead-dark">
            <tr>
              <th style="min-width: 150px;">First Name</th>
              <th style="min-width: 150px;">Last Name</th>
              <th style="min-width: 200px;">Email</th>
              <th style="min-width: 250px;">Address</th>
              <th style="min-width: 150px;">Phone</th>
              <th style="min-width: 180px;">User Account Status</th>
              <th style="min-width: 180px;">Bank Account Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredUsers">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.phoneNumber }}</td>
              <td>
                <div
                  class="btn"
                  [ngClass]="{
                    'btn-success': user.isActive === true,
                    'btn-danger': user.isActive === false
                  }"
                  (click)="toggleUserStatus(user)"
                  *ngIf="getUserId() !== user.id.toString()"
                >
                  {{ user?.isActive === true ? 'Active' : 'Not Active' }}
                </div>
              </td>
              <td>
                <div
                  class="btn"
                  [ngClass]="{
                    'btn-success': user.bankAccountStatus === true,
                    'btn-danger': user.bankAccountStatus === false
                  }"
                  (click)="toggleBankAccountStatus(user)"
                  *ngIf="getUserId() !== user.id.toString()"
                >
                  {{ user?.bankAccountStatus === true ? 'Active' : (user?.bankAccountStatus === false ? 'Not Active' : 'No Bank Account') }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
